{% load static %}
<!doctype html>
<!--templates/home.html-->
<html lang="en">
<title>Homepage</title>

<!--Django tag to css-->
<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
<head>
  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
</head>

<body>
  
  <div class="grid">
    <header>
      <div>
        <a href="http://3.84.25.172:8000/admin">Link:Admin backend Portal__________</a>
      </div>
      <div>
        <a href="http://3.84.25.172:8000/login">Link:User Login Portal</a>
      </div>
    </header>
  
    <aside class="sidebar-left">
      Left Sidebar
    </aside>
  
    <article>
      {% block content %}
        Guys this is the new homepage located in: /django_project/project/project/templates/home.html(locations for website templates)
      <h1>
        Main project Css: /django_project/project/project/static/main.css
      </h1>
      {% endblock content %}
    </article>
  
    <aside class="sidebar-right">
      Right Sidebar
    </aside>
    
    <footer>
      Footer
    </footer>
  </div>
</body>
</html>