.grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    grid-template-rows: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    border: 2px solid #000;
  }
  
  @media all and (max-width: 700px) {
    aside {
      grid-column: 1 / 5;
    }


    article {
      grid-column: 3/ 5;
    }
  }

  article {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14em;
  }
  .sidebar-right{    
    background: #eaeaea;
    grid-column: 5;
    min-height: 80vh;
  }
  .sidebar-left{    
    background: #eaeaea;
    grid-row: 1;
    min-height: 80vh;
    max-width: 30vw;
  }

  aside {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14em;
  }